<h1>Budget Application</h1>

<p *ngIf="!categoryGroups"><em>Loading...</em></p>

<div *ngFor="let categoryGroup of categoryGroups" class="content-box">
  <div class="content-header">
    <h3 class="content-title" itemprop="headline">
      {{ categoryGroup.name }}
    </h3>
  </div>
  <div class="content-entry">
    <div class="row">
      <div class="col-lg-6"><strong>Category</strong></div>
      <div class="col-lg-6"><strong>Amount</strong></div>
    </div>
    <div *ngFor="let category of categoryGroup.categories" class="row">
      <div class="col-lg-6">{{ category.name }}</div>
      <div class="col-lg-6">{{ category.amount | currency }}</div>
    </div>
  </div>
</div>
